/* styles.css */

/* Center the content */
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2e3136;
    text-align: center;
}

/* Style the heading */
h1 {
    color: #787ea0;
    font-size: 4em;
}

h2 {
    color: #757fb9;
    font-size: 2em;
}

input {
    color: rgb(112, 123, 218);
    background-color: rgb(40, 44, 65);
    border-color: #2e3136;
    text-align-last: center;
}

input::placeholder {
    color: #ffffff; /* Custom gray color */
    font-style: italic; /* Optional: Italic font */
}
